body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
font-size: 35px;
}
h2{
    font-size:30px;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.harbor-mist-color{
    color: #0e4985;
}
.green-color{
    color:rgb(144, 23, 214);
}
.brown-color{
    color: brown;
}

.flexible-container{
    display: flex;
margin-bottom: 40px;
margin-block-end: 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
    
    }
.half-width img{ width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(grey ,green);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    
}

#gold-sevices{
    background-image: url(images/Gold.png);
    background-repeat: no-repeat;
    background-position: top;
}
.gold-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightblue;
} 
#bronze-services{
    background-image: url(images/Bronze.png);
    background-repeat: no-repeat;
    background-position: top;
}
.bronze-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightgreen;
}
#silver-services{
    background-image: url(images/Silver.png);
    background-repeat: no-repeat;
    background-position: top;
}
.silver-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightseagreen;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(167, 236, 6);
    color: white;
    text-align: center;}




